# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup
infra/terraform/.terraform.lock.hcl
infra/terraform/zt-voting.pem
infra/terraform/inventory.ini

# Node
node_modules/
dist/
